<div class="one-third column callToAction">
	<h2>Sign Up!</h2>
	<p class="tag">Become part of a network of helpful neighbors.
	<span>Help a neighbor out</span></p>
</div>
<div class="two-thirds column signUp">
	 <form id="signUp" method="post" action="<%= sign_up_path %>">
		<div style="display:none"><input type="hidden" value="ca916f18bbf5851357e155350311455d" name="csrfmiddlewaretoken"></div>
		<ul>
			<li>
				<label for="id_email">Email</label>
				<input type="email" placeholder="enter your email address" id="id_email" name="email" class="transparent">
			</li>
			<li>
				<label for="id_zip">Phone Number</label>
				<input type="phone" maxlength="12" pattern="[0-9]{5}" placeholder="phone number e.g. 503-123-4567" id="id_phone" name="phone" class="transparent">
			</li>
			<li>
				<label for="id_zip">Zip code</label>
				<input type="zip" maxlength="5" pattern="[0-9]{5}" placeholder="and zip code" id="id_zipcode" name="zipcode" class="transparent">
			</li>
			<li>
			    <button type="submit" id="joinBtn">
			        <span>Join</span>
			    </button>
		    </li>
		</ul>
		<div class="clear"></div>
	</form>
</div>